* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	position: fixed;
	z-index: -1;
	width: 100vw;
	top: 50vh;
	left: 50vw;
	transform: translate(-50vw, -50vh);
}
.container {
	position: fixed;
	background-color: black;
	height: 100%;
	width: 100%;
}
.colour--input {
	position: relative;
	height: 7%;
	width: 25%;
	top: 50vh;
	left: 50vw;
	transform: translate(-12.5vw, -3.5vh);
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: #888888 solid 0.5vh;
	outline: none;
	font-size: 3vw;
	text-transform: uppercase;
	letter-spacing: 0.5vw;
	text-align: center;
	color: #888888;
	padding-bottom: 0.5vh;
}
::placeholder {
	color: #888888;
}
